body{
    background-color: blueviolet;
    margin: 0px;
    padding-top: 30px;
}
.feat{
    text-align: center;
    color: white;
    font-size: 15px;
}
.ser{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
.parent{
    width: 1200px;
    height: 1300px;
    margin-left: 300px;
    
}
.box{
    background-color: white;
    width: 280px;
    height: 450px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}
img{
    width: 250px;
    height: 250px;
   
    
}
button{
    background-color: blueviolet;
    width: 120px;
    font-size: 20px;
    color: white;
    border-radius: 30px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    border: 0px;
}
.t1{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.para{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}
button:hover{
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
}