div{
    background-color: orange;
   padding: 25px;
    height: 100px;
}
li{
    list-style-type: none;
    display: inline;
   margin: 50px;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
a:hover{
    color: orange;
    font-size: 30px;
    background-color: white;
    
}
h1{
    color:orange;
    text-shadow: 5px 5px 5px solid black;
}
p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 25px;
}
